<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <title>Workshop In Business Opportunities</title>
  </head>

  <body>
    <a href="http://wibo.wickedstart.com">
      <img src="http://wibo.wickedstart.com/images/wibo-logo.jpg?1328167465" border="0" alt="WIBO" />
    </a>
    <p style="font-family:Trebuchet MS, Arial, Helvetica, sans-serif; font-size:13px; color:#333333;">
      <b>THE FIRST STOP FOR GETTING YOUR BUSINESS IDEA OFF THE GROUND</b>
    </p>
    <hr noshade size="1" color="#226DC8" />

    <p>
      <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#363636">
        <%= "Dear #{@user.first_name} #{@user.last_name}," %>
      </font>
    </p>

    <p>
      <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#363636">
        You've now had your account for several days, and we hope that you're as excited as ever about your business idea. This is a great opportunity to really dig in and start the business that you've always dreamed of.
      </font>
    </p>
    <p>
      <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#363636">
        As you've been filling out your personal checklist, have you taken advantage of the
        <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#FA9B31">
          <strong>
            <%= link_to "Resources", "http://wibo.wickedstart.com/public_home", :style => "color:#FA9B31; text-decoration:none;" %>
          </strong>
        </font>
        and
        <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#FA9B31">
          <strong>
            <%= link_to "Templates", "http://wibo.wickedstart.com/public_home", :style => "color:#FA9B31; text-decoration:none;" %>
          </strong>
        </font>
        ? We've tried to make it easy for you to find great guidance and time savings so you can focus on what you really care about - implementing your business idea.
      </font>
    </p>

    <p>
      <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#363636">
        My business coach told me this Taoist saying: "People usually fail when they are on the verge of success. Give as much care at the end as at the beginning, and then there will be no failure".
        You've invested time and energy thinking about your idea, so keep these words of wisdom close to you as you continue on you path to entrepreneurship and launch you business successfully.
      </font>
    </p>

    <p>
      <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#363636">
        Remember, we're here to help you get going! If you need help, ask a question in the
        <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#FA9B31">
          <strong>
            <%= link_to "Community", "http://wibo.wickedstart.com/public_home", :style => "color:#FA9B31; text-decoration:none;" %>
          </strong>
        </font>
        and don't forget we're watching for you on
        <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#FA9B31">
          <strong>
            <%= link_to "Twitter", "http://www.twitter.com/wickedstart", :style => "color:#FA9B31; text-decoration:none;" %>
          </strong>
        </font>
        and
        <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#FA9B31">
          <strong>
            <%= link_to "Facebook", "http://www.facebook.com/wickedstart", :style => "color:#FA9B31; text-decoration:none;" %>
          </strong>
        </font>!
      </font>
    </p>
    <br />

    <p>
      <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#000000">
        Regards,
        <br />
        <br />
        Workshop In Business Opportunities
      </font>
      <br />
      <br />

      <a href="http://www.twitter.com/wickedstart">
        <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#FA9B31">
          <strong>Twitter: @WickedStart</strong>
        </font>
      </a>
      <br />
      <br />
      <!--<a href="http://www.wickedstart.com/privacy_policy">
        <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#FA9B31">
          <strong>Privacy Policy</strong>
        </font>
      </a>-->
    </p>
    <br />

    <p>
      <table cellpadding="10" cellspacing="0" border="0" width="100%">
        <tr>
          <td bgcolor="#fa9b31" align="center">
            <a href ="http://wibo.wickedstart.com/public_home" style="color:#ffffff; font-weight:bold; font">
              www.wibo.wickedstart.com
            </a>
          </td>
        </tr>
      </table>
    </p>

  </body>
</html>