<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <title>Workshop In Business Opportunities</title>
  </head>

  <body>
    <a href="http://wibo.wickedstart.com/public_home">
      <img src="http://wibo.wickedstart.com/images/wibo-logo.jpg?1328167465" border="0" alt="WICKEDSTART" />
    </a>
    <p style="font-family:Trebuchet MS, Arial, Helvetica, sans-serif; font-size:13px; color:#333333;">
      <b>THE FIRST STOP FOR GETTING YOUR BUSINESS IDEA OFF THE GROUND</b>
    </p>
    <hr noshade size="1" color="#226DC8" />

    <p>
      <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#363636">
        <%= "Dear #{@user.first_name} #{@user.last_name}," %>
      </font>
    </p>

    <p>
      <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#363636">
        We want to take this opportunity to check in with you regarding your WIBO account. Have you had a chance to explore all the features of the service in the past couple of days? We're confident that with our
      </font>
      <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#363636">
        <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#FA9B31">
          <strong>
            <%= link_to "tools", "http://wibo.wickedstart.com/", :style => "color:#FA9B31; text-decoration:none;" %>
          </strong>
        </font>
        and
        <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#FA9B31">
          <strong>
            <%= link_to "resources", "http://wibo.wickedstart.com/", :style => "color:#FA9B31; text-decoration:none;" %>
          </strong>
        </font>
        we can help you evaluate your idea and turn it into a business.
      </font>
    </p>

    <p>
      <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#363636">
        How are you using your own personalized
        <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#FA9B31">
          <strong>
            <%= link_to "roadmap", "http://wibo.wickedstart.com/", :style => "color:#FA9B31; text-decoration:none;" %>
          </strong>
        </font>
        of concrete action items? Is it letting you organize your thoughts, files and ideas?
      </font>
    </p>

    <p>
      <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#363636">
        Helpful Hint: Use the
        <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#FA9B31">
          <strong>
            <%= link_to "WIBO Community", "http://wibo.wickedstart.com/", :style => "color:#FA9B31; text-decoration:none;" %>
          </strong>
        </font>
        to find answers or post questions for anything relating to starting up. You can find helpful answers, especially if you're stuck on an Action Item.
        First, search to see if your question has already been addressed by one of your peers. If not, you can ask the question yourself and within one business day, you'll have an answer. It's that easy.
      </font>
    </p>
    <p>
      <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#363636">
        Remember, we're here to help you get going! Could we be doing something better? Let us know!
      </font>
    </p>
    <br />

    <p>
      <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#000000">
        Regards,
        <br />
        <br />
        Workshop In Business Opportunities
      </font>
      <br />
      <br />

      <a href="http://www.twitter.com/wickedstart">
        <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#FA9B31">
          <strong>Twitter: @WickedStart</strong>
        </font>
      </a>
      <br />
      <br />
      <!--<a href="http://www.wickedstart.com/privacy_policy">
        <font face="Trebuchet MS,Arial,Helvetica,sans-serif" size="-1" color="#FA9B31">
          <strong>Privacy Policy</strong>
        </font>
      </a>-->
    </p>
    <br />

    <p>
      <table cellpadding="10" cellspacing="0" border="0" width="100%">
        <tr>
          <td bgcolor="#fa9b31" align="center">
            <a href ="http://wibo.wickedstart.com/" style="color:#ffffff; font-weight:bold; font">
              www.wibo.wickedstart.com
            </a>
          </td>
        </tr>
      </table>
    </p>

  </body>
</html>
