<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Workshop In Business Opportunities</title>
  </head>

  <body>
    <table width="100%" cellspacing="0" cellpadding="0" border="0" align="left" style="font-family:Arial, Helvetica, sans-serif;">
      <tbody><tr>
          <td >
            <a href="http://wibo.wickedstart.com/public_home">
      <img src="http://wibo.wickedstart.com/images/wibo-logo.jpg?1328167465" border="0" alt="WIBO" />
            </a>
            <p style="font-family:Trebuchet MS, Arial, Helvetica, sans-serif; font-size:13px; color:#333333;">
              <b>YOUR ONLINE GUIDE FOR STARTING A BUSINESS</b>
            </p>
            <hr noshade size="1" color="#226DC8" />
          </td>
        </tr>
        <tr>
          <td>
            <p style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 13px; color: rgb(51, 51, 51); padding: 5px 0pt;">
              Dear <%= @user.first_name %> <%= @user.last_name %>,
            </p>
            <p style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 13px; color: rgb(51, 51, 51); padding: 5px 0pt;">
              We're sorry to hear that you want to cancel your
              <label style="color: rgb(248, 155, 75); text-decoration: none;">WIBO</label>
              account.
            </p>

            <%unless $is_ws_free_as_default%>
              <p style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 13px; color: rgb(51, 51, 51); padding: 5px 0pt;  margin:0; color:#333333;">
                Your account will remain active until <%= "#{@user.expire_date.strftime("%B %e, %Y").upcase}" %> and then will be closed. You will not be billed anymore
                and you will no longer have access to any of your account information, including your Launch List of action
                items, your saved files, or any other valuable resources.<br />
              </p>
            <%else%>
              <p style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 13px; color: rgb(51, 51, 51); padding: 5px 0pt;  margin:0; color:#333333;">
                Your account will remain active until <%= "#{@user.expire_date.strftime("%B %e, %Y").upcase}" %> and then will be closed. You will no longer have access to any of your account information, including your Launch List of action
                items, your saved files, or any other valuable resources.<br />
              </p>
            <%end%>

            <p style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 13px; color: rgb(51, 51, 51); padding: 5px 0pt;  margin:0; color:#333333;">
              We hope that you have found the Launch Pad service helpful in evaluating your business idea or starting a business.<strong>If you haven't done so already, please take a moment to fill out a quick survey to help us improve our services. <a href="<%=questionnaire_path%>" target="_blank">Click here</a> to access the survey.</strong><br />
            </p>
            <p style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 13px; color: rgb(51, 51, 51); padding: 5px 0pt;  margin:0; color:#333333;">
              Feel free to email us any time at
              <a target="_blank" style="color: rgb(248, 155, 75); text-decoration: none;" href="http://www.wickedstart.com">info@WIBO.WickedStart.com</a>
              as we would love to hear from you. If you should
              need to re-activate your account, you may do so for the next 90 days, until <%= (Date.today + 90.day).strftime("%B %e, %Y").upcase %>.<br />

            </p>

            <p style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 13px; color: rgb(51, 51, 51); padding: 5px 0pt;  margin:0; color:#333333;">
              Thank you for using Wicked Start!
            </p>
            <br/>
            <br/>


            <p style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 13px; color: rgb(51, 51, 51); padding: 5px 0pt;  margin:0; color:#333333;">
              Best regards,<br/>
            </p>
            <p style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 13px; color: rgb(51, 51, 51); padding: 5px 0pt;  margin:0; color:#333333;">
              The Wicked Start Team
            </p>
            <!--<p style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-size: 13px; color: rgb(51, 51, 51); padding: 5px 0pt;">
              <span><a target="_blank" style="color: rgb(248, 155, 75); text-decoration: none;" href="http://www.wickedstart.com/privacy_policy">Privacy Policy</a></span><br />
            </p>-->
          </td>
        </tr>
        <tr>
          <td valign="middle" height="30" bgcolor="#f89b4b" align="center">
            <span><a target="_blank" style="font-family: Trebuchet MS,Arial,Helvetica,sans-serif; color: rgb(255, 255, 255); text-decoration: none; font-size: 16px; font-weight: bold;" href="http://wibo.wickedstart.com/public_home">www.wibo.wickedstart.com</a></span>
          </td>
        </tr>
      </tbody></table>
  </body>
</html>