<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Workshop In Business Opportunities</title>
    <style>
      body {
        font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size:13px;
        color:#333333;
      }
    </style>
  </head>

  <body>
    <table cellpadding="0" cellspacing="0" border="0" align="center" width="600">
      <tr>
        <td>
          <a href="http://wibo.wickedstart.com/public_home">
      <img src="http://wibo.wickedstart.com/images/wibo-logo.jpg?1328167465" border="0" alt="WIBO" />
          </a>
          <p style="font-family:Trebuchet MS, Arial, Helvetica, sans-serif; font-size:13px; color:#333333;">
            <b>YOUR ONLINE GUIDE FOR STARTING A BUSINESS</b>
          </p>
          <hr noshade size="1" color="#226DC8" />
        </td>
      </tr>
      <tr>
        <td>

          <p style="font-family:Trebuchet MS, Arial, Helvetica, sans-serif; font-size:13px; color:#333333; padding:5px 0;">
            <%= "Dear #{@receiver.first_name} #{@receiver.last_name}," %>
          </p>

          <p style="font-family:Trebuchet MS, Arial, Helvetica, sans-serif; font-size:13px; color:#333333; padding:5px 0;">
            <%= "We recieved your request to mark the following message as inappropriate..." %>
          </p>

          <p style="font-family:Trebuchet MS, Arial, Helvetica, sans-serif; font-size:13px; color:#333333; padding:5px 0;">
            <strong>
              <%= @message_body %>
            </strong>
          </p>

          <p style="font-family:Trebuchet MS, Arial, Helvetica, sans-serif; font-size:13px; color:#333333; padding:5px 0;">
            <%= "After looking at the message we found out that..." %>
          </p>

          <p style="font-family:Trebuchet MS, Arial, Helvetica, sans-serif; font-size:13px; color:#333333; padding:5px 0;">
            <strong>
              <%= @reply_body %>
            </strong>
          </p>

          <p>
            <font face="'Trebuchet MS',Arial,Helvetica,sans-serif" size="-1" color="#363636">
              If you ever have questions or concerns, please email us at
            </font>
            <font face="'Trebuchet MS',Arial,Helvetica,sans-serif" size="-1" color="#FA9B31">
              <a href="mailto:info@WIBO.WickedStart.com">info@WIBO.WickedStart.com</a>
            </font>
            <font face="'Trebuchet MS',Arial,Helvetica,sans-serif" size="-1" color="#363636">
              or use our livechat feature available online at
            </font>
            <font face="'Trebuchet MS',Arial,Helvetica,sans-serif" size="-1" color="#FA9B31">
              <a href="http://wibo.wickedstart.com/public_home">www.wibo.wickedstart.com</a>
            </font>.
          </p>

          --------------------------------------------------------------------------------
          <p style="font-family:Trebuchet MS, Arial, Helvetica, sans-serif; font-size:13px; color:#333333; padding:5px 0;">
            This message was intended for
            <%= @receiver.email %>
          </p>
          <br />

          <!--<p style="font-family:Trebuchet MS, Arial, Helvetica, sans-serif; font-size:13px; color:#333333; padding:5px 0;">
            <span>
              <a href="http://www.wickedstart.com/privacy_policy" style="color:#f89b4b; text-decoration:none;">
                Privacy Policy
              </a>
            </span>
          </p>-->

        </td>
      </tr>
      <tr>
        <td bgcolor="#f89b4b" height="30" valign="middle" align="center">
          <span><a href="http://wibo.wickedstart.com/public_home" style="font-family:Trebuchet MS, Arial, Helvetica, sans-serif; color:#ffffff; text-decoration:none; font-size:16px; font-weight:bold;">www.wibo.wickedstart.com</a></span>
        </td>
      </tr>
    </table>
  </body>
</html>
