<% content_for :head do %>
  <%= javascript_include_tag 'jquery-1.4.2.min' %>

  <script type="text/javascript">
    $(document).ready(function() {
      var msg_title = '<%#= @user_profile_summary.title %>';
      var msg_content = '<%#= @user_profile_summary.content %>';

      $("a#message_edit_link").click(function (event){
        if($("a#message_edit_link").text() == "EDIT") {
          $("a#message_edit_link").text("CANCEL");
          $("#marketing_text_message_title").val(msg_title);
          $("#marketing_text_message_content").val(msg_content);
          $("div#message_show").hide();
          $("div#message_edit").show();
        } else {
          $("a#message_edit_link").text("EDIT");
          $("div#message_show").show();
          $("div#message_edit").hide();
        }
        event.preventDefault();
      });

    });
  </script>
<% end %>

<%= render :partial => "admins/admin_sub_menu", :locals => { :active_admin_sub_tab => :content_tab } %>

<div class="admnRitCol">
  <div style="border:1px solid #DDD">
    <h4>
      USER PROFILE
      |
      <%= link_to "EDIT", edit_marketing_text_message_path(@user_profile_summary), :id => "message_edit_link" %>
    </h4>
    <br />
    <%unless @user_profile_summary.blank?%>
      <div id="message_show">
        <strong>
          Title
        </strong>
        <h5>
          <%= @user_profile_summary.title %>
        </h5>
        <br />
        <strong>
          Sub Title
        </strong>
        <p>
          <%= @user_profile_summary.content %>
        </p>
      </div>

      <div id="message_edit" style="display: none">
        <% form_for @user_profile_summary do |f| %>
          <%= f.label :title %>
          <br />
          <%= f.text_field :title %>
          <br />
          <%= f.label :content %>
          <br />
          <%= f.text_area :content, :size => "100x5" %>
          <br />
          <%= f.submit 'Update and Publish' %>
          <br />
        <% end %>
      </div>
    <%end%>
    <br />
  </div>
</div>

