<%= render :partial => "admin_sub_menu", :locals => { :active_admin_sub_tab => :inspiration_tab } %>

<div class="admnRitCol">
<div class="admnCntDv">
  <h4>INSPIRATIONAL MESSAGE <a href="#">Edit</a></h4>
  <%= render :partial => "marketing_message", :locals=>{:obj=>@marketing_message, :title=>'READ OUR LATEST SUCCESS STORIES'} %>
</div>
</div>
<div class="admnRitCol">
<div class="admnQuizDv">
<table width="200" border="0" cellspacing="0" class="admnQuiztbl">
  <tr>
    <td colspan="5"><h4>INSPIRATIONS    <%= link_to "Add New Inspiration", new_success_story_path %></h4></td>
    </tr>
  <%@success_stories.each do |success_story|%>
  <%#*<tr>%>
    <%#*<td colspan="5" valign="middle"><a href="#"><img src="../images/theme/add-qstn-btn.jpg" width="130" height="26" /></a> <a href="#"><img src="../images/update-answr-btn.jpg" width="130" height="26" /></a></td>%>
  <%#*</tr>%>
  <tr>
    <td><%= success_story.company_name%></td>
    <td><%= success_story.description%></td>
    <td><%= (success_story.state)? success_story.state.title : ''%></td>
    <td class="quzIcnTd">
      <%#*<a href="#"><img src="../images/icons/edit-icn.jpg" alt="Edit" width="18" height="16" /></a>%>
      <%= link_to "Edit", edit_success_story_path(success_story) %>
    </td>
    <td class="quzIcnTd">
      <%#*<a href="#"><img src="../images/icons/pblisch-icn.jpg" alt="Publish" width="16" height="16" /></a>%>
      <%= link_to "Publish", change_state_success_stories_path(:id => success_story.id,:state => 'P') %>
    </td>
    <td class="quzIcnTd">
      <%#*<a href="#"><img src="../images/icons/deleet-icn.jpg" alt="Delete" width="17" height="16" /></a>%>
      <%= link_to "Deactivate", change_state_success_stories_path(:id => success_story.id,:state => 'X') %>
    </td>
  </tr>

  <% end %>

  <%#*<tr>%>
    <%#*<td>&nbsp;</td>%>
    <%#*<td colspan="4"><a href="#"><img src="../images/save-btn.jpg" align="absmiddle" /></a> <a href="#"><img src="../images/publish-btn.jpg" align="absmiddle" /></a> <a href="#" class="cnclLnk">Cancel</a></td>%>
  <%#*</tr>%>
</table>
</div>
</div>
