<h1>Partners#new</h1>
<p>Find me in app/views/partners/new.html.erb</p>

<% form_for @partner, :html => { :multipart => true } do |f| %>
  <br />
  <%= f.error_messages :header_message => nil, :message => nil %>
  <p>
    <%= f.label :company_name %> <br />
    <%= f.text_field :company_name %>
  </p>
  <p>
    <%= f.label :details %> <br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :url %> <br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :logo, "Logo / Picture" %> <br />
    <%= f.file_field :logo %>
  </p>
  <p>
    <%= f.submit :add %>
  </p>
  <p>
    <%= link_to '<< Back', url_for(:back) %>
  </p>
<% end %>
