<div class="stayConnected">
  <h3>Stay Connected</h3>
  <%= link_to "FaceBook", FACEBOOK_WS_URL, :class => "facebook", :target => '_blank' %>
  <%= link_to "Follow us on Twitter", TWITTER_WS_URL, :class => "twitter", :target => '_blank' %>
  <%= link_to "Linkedin", LINKED_IN_WS_URL, :class => "linkedin", :target => '_blank' %>
  <%= link_to "Youtube", YOU_TUBE_WS_URL, :class => "youtube", :target => '_blank' %>
  <%= link_to "RSS Feed", SITE_BLOG_RSS_URL, :class => "rss", :target => '_blank' %>
</div>