<div class="launchTopBg" style="margin-top:-14px;"></div>

<div class="wckdNews">
  <p>
    <%= link_to '<< Back', url_for(:back) %>
  </p>
  <br />
  <h3>
    <%= @news_item.title %>,
    <span>
      <%=h ws_date_format(@news_item.news_date) %>
    </span>
  </h3>
  <div class="newsDv">
    <span class="newsImg">
      <%= image_tag @news_item.news_provider.logo.url(:small) %>
    </span>
    <span class="newz">
      <%= @news_item.body %>
      <% unless @news_item.url.blank? %>
        <br />
        <%#= auto_link @news_item.url, :href_options => { :target => '_blank' } %>
        <%= auto_link @news_item.url, :urls, :target => "_blank" %>
      <% end %>
    </span>
    <%# unless @news_item.url.empty? %>
      <%#= auto_link @news_item.url %>
      <%#*<br />%>
    <%# end %>
    <%#= link_to_if @news_item.document.file?, @news_item.document.original_filename, @news_item.document.url %>
  </div>
</div>
