<% form_for @credential do |credential_form| %>
      <table border="0" cellpadding="0" cellspacing="0" class="prflTbl">
      <tr>
        <th colspan="2" align="left" ><i>Credit Card Information</i></th>
      </tr>
      <tr>
        <td colspan="2" style="color:#FF0000;">
          <%= credential_form.error_messages :header_message => nil, :message => nil %>
          <% if @error == :insufficient_balance %>
            Insufficient Balance
          <%elsif @error == :invalid_card%>
            Invalid Card Details
            <% elsif @error == :update_cdt_crd_fld %>
            Credit Card Update Failed
            <% elsif @error == :subscription_failed %>
              <% @err_msg.each do |message| %>
                <%#*"Error Code=" + message.code%>
              <%= "Error Message = " + message.text %>
            <% end %>
          <% end %>
          &nbsp;
        </td>
      </tr>
      <tr>
        <td class="prflLbl">
          <span>*</span>
          <%= credential_form.label :first_name, "First Name :" %>
        </td>
        <td class="prflfld">
          <%= credential_form.text_field :first_name, :class => "prflTxtFld" %>
        </td>
      </tr>
      <tr>
        <td class="prflLbl">
          <span>*</span>
          <%= credential_form.label :last_name, "Last Name :" %>
        </td>
        <td class="prflfld">
          <%= credential_form.text_field :last_name, :class => "prflTxtFld" %>
        </td>
      </tr>
      <tr>
        <td class="prflLbl">
          <span>*</span>
          <%= credential_form.label :address_one, "Address 1 :" %>
        </td>
        <td class="prflfld">
          <%= credential_form.text_field :address_one, :class => "prflTxtFld" %>
        </td>
      </tr>
      <tr>
        <td class="prflLbl">
          <span>*</span>
          <%= credential_form.label :address_two, "Address 2 :" %>
        </td>
        <td class="prflfld">
          <%= credential_form.text_field :address_two, :class => "prflTxtFld" %>
        </td>
      </tr>
      <tr>
        <td class="prflLbl">
          <span>*</span>
          <%= credential_form.label :city, "City :" %>
        </td>
        <td class="prflfld">
          <%= credential_form.text_field :city, :class => "prflTxtFld" %>
        </td>
      </tr>
      <tr>
        <td class="prflLbl">
          <span>*</span>
          <%= credential_form.label :state, "State :" %>
        </td>
        <td class="prflfld">
          <%= credential_form.select :state, Carmen::state_names('US').collect {|c|[c]}, { :include_blank => true }, {:class => "prflTxtFld prf-select-tag"}%>
        </td>
      </tr>
      <tr>
        <td class="prflLbl">
          <span>*</span>
          <%= credential_form.label :zip_code, "ZIP Code:" %>
        </td>
        <td class="prflfld">
          <%= credential_form.text_field :zip_code, :class => "prflTxtFld" %>
        </td>
      </tr>
      <tr>
        <td class="prflLbl">
          <span>*</span>
          <%= credential_form.label :country, "Country :" %>
        </td>
        <td class="prflfld">
          <%= credential_form.collection_select(:country_id, Country.all, :id, :name, {:prompt => true}, :class => "LstFld prf-select-tag") %>
        </td>
      </tr>
      <tr><td>&nbsp;</td><td>&nbsp;</td></tr>

      <tr>
        <td class="prflLbl">
          <span>*</span>
          <b><%= credential_form.label :card_type, "Type :" %></b>
        </td>

        <td class="prflfld">

        <%= credential_form.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]],{},{ :style=>"border:1px solid #CCCCCC;padding:2px;" }%>
        <%=image_tag "cards.jpg", :class=>"v-align-middle"%>
        </td>
      </tr>
      <tr>
        <td class="prflLbl">
          <span>*</span>
          <b><%= credential_form.label :card_number, "Card Number :" %></b>
        </td>
        <td class="prflfld">
          <%= credential_form.text_field :card_number, :value => '',:class => "txtFld prflTxtFld", :autocomplete => 'off' %>
        </td>
      </tr>
      <tr>
        <td class="prflLbl">
          <span>*</span>
          <b><%= credential_form.label :card_expires_on, "Expiration Date :" %></b>
        </td>
        <td class="prflfld">
          <%= credential_form.date_select :card_expires_on, :discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10), :order => [:month, :year, :day], :class => "LstFld2 prflTxtFld" %>
          <%#= f.select_month(Date.today, :class => "LstFld2")%>
          <%#= f.select_year(Date.today, :class => "LstFld2")%>
        </td>
      </tr>
      <tr>
        <td class="prflLbl">
          <span>*</span>
          <b> <%= credential_form.label :card_verification, "Card Verification Value (CVV) :" %><br />
        </td>
         <td class="rgstrfld no-left-padding">
          <table cellpadding="0" cellspacing="0" border="0" style="width:100%">
            <tr>
              <td align="left" style="width:85px;"><%= credential_form.text_field :card_verification, :value => '', :class => "txtFld2" %></td>
              <td align="left;"><a href="#">What is this?</a></td>
              <td align="right" style="padding-right:85px;"><img src="/images/go-dady-tag.jpg" width="99" height="40"/></td>
            </tr>
          </table>
        </td>
      </tr>

      <tr>
        <td align="right">
          <%= image_submit_tag 'save-btn.jpg', :alt => "Submit" %>
        </td>
        <td><b><%= link_to "Cancel", edit_user_path(current_user) %></b></td>
      </tr>


      </table>


<% end %>