<% title "#{@promotion.title}" %>

<div class="subPageWrapper">
  <%= link_to "7-DAY FREE TRIAL Sign Up Today!", signup_path, :class => "freeTrialBadge" %>

  <h1>ABOUT US</h1>

  <%= render :partial => "shared/aboutus_breadcrumbs", :locals => {:current => :promotions} %>

  <div id="contentLarge">
    <%= link_to (image_tag @promotion.picture.url(@promotion.image_display_size), :alt => @promotion.title) ,@promotion.url, :class=>'floatR', :target=>'_blank' %>
    <h2 class="headLine">
      <%= truncate(@promotion.title,20) %>
    </h2>
    <span class="meta">
      Date: <%= ws_date_format(@promotion.created_at) %>
    </span>
    <p>
      <%= simple_format(h(@promotion.description)) %>
    </p>
    <span class="st_facebook_button" displayText="Facebook"></span><span class="st_twitter_button" displayText="Tweet"></span><span class="st_email_button" displayText="Share"></span><span class="st_sharethis_button" displayText="ShareThis"></span>
  </div>

  <%#*<div id="sideBarRight2Col">%>
    <%#*<h3 class="header">%>
      <%#*Upcoming Event%>
    <%#*</h3>%>
    <%#= image_tag @latest_event.picture.url(@latest_event.image_display_size), :alt => @latest_event.title %>
    <%# unless @latest_event.blank? %>
      <%#*<h3>%>
        <%#= link_to @latest_event.title, @latest_event %>
      <%#*</h3>%>
      <%#*<span class="meta">%>
        <%#= @latest_event.event_date.strftime("%B %d, %Y") %>
      <%#*</span>%>
      <%#*<p>%>
        <%#= @latest_event.summary %>
        <%#= link_to "Read more", @latest_event %>
      <%#*</p>%>
    <%# end %>
    <%#*<!--<p><a href="#"><img src="images/banner-214.jpg" alt="Marketing Element" /></a></p>-->%>
  <%#*</div>%>

</div> <!-- End of Sub page Wrapper -->