<% form_for(@registration_code) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <%#*<p>%>
    <%#= f.label :valid_from %><br />
    <%#= f.text_field :valid_from %>
  <%#*</p>%>
  <%#*<p>%>
    <%#= f.label :valid_to %><br />
    <%#= f.text_field :valid_to %>
  <%#*</p>%>
  <p>
    <%= f.submit 'Create' %>
  </p>
  <p>
    <%= link_to '<< Back', url_for(:back) %>
  </p>
<% end %>
