<% if @new_design_theme %>
  <!DOCTYPE html>
  <html>
    <head>
      <meta  name="description" content="<%= h(yield(:meta)) %>"/>
      <title>The Institute for Entrepreneurial Leadership - <%= h(yield(:title) || "Get Going!") %></title>
      <%= include_stylesheets :common,:new_design,:media => 'all' %>
      <!--[if (gte IE 5.5)&(lte IE 8)]>
  <%#= include_javascripts :ie %>
  <%#= include_stylesheets :ie,:media => 'all' %>
      <%= stylesheet_link_tag 'new_designs/ie' %>
  <%#= javascript_include_tag "html5", "ie-css3", :defer => 'defer', :cache => true %> <!--Moved at Bottom-->
      <![endif]-->

      <%= include_javascripts :common, :public %> <!--Moved at Bottom-->  
      <%= include_javascripts :internal if logged_in? %>  <!--Moved at Bottom--> 
      <%= yield(:head) %>

      <script>       
        $(document).ready(function(){
          var bg_color = '<%= configurations.bg_color.to_s %>';
          var color = '<%= configurations.color_scheme.to_s %>';
          var headline_font = '<%= configurations.headline_font.to_s %>';
          var text_font = '<%= configurations.text_font.to_s %>';
                  
          if(bg_color != "" || bg_color != null){
            $('html').css('background-color', bg_color);
          }
          if(color != "" || color != null){
            //$('p').css('color', color);
          }
          if(headline_font != "" || headline_font != null){
            $('h1').css('font-size', headline_font);
          }          
          if(text_font != "" || text_font != null){
            $('p').css('font-size', text_font);
            $('ul').css('font-size', text_font);
          }        
        });
      </script>

    </head>
    <body>
      <div id="header">
        <%= render :partial => 'layouts/header_new' %>
      </div>

      <%if logged_in?%>
        <div class="topLinks">
    <%#= link_to "Guided Tours", guided_tour_video_url(:video_path => SITE_VIDEO_PATH_GUIDED_TOURS, :width => '590', :height => '400'), :onclick => "$(this).colorbox()" %>
          <!--<span class="marginLeft10">|</span>
    <%#= link_to "Help", GET_SATISFACTION_PATH, :target => '_blank', :class=>'marginLeft10' %>-->
          <%= link_to '<strong>'+truncate(current_user.screen_name.to_s, 20)+'</strong>', edit_user_path(current_user), :class=>'marginLeft10' %>
          <%= link_to image_tag('theme/droparrow.jpg', :class=>'dispInline vAlign'),'#.', :id => "dropArrow" %>
          <div id="profileModel">
            <div class="profile-name">
              <div class="floatL width130">
                <p><%= link_to truncate(current_user.name, 50), profile_path %></p>
                <p class="normal-italic">Logged in for <%= distance_of_time_in_words(Time.parse(current_user.current_login_at.to_s), Time.now) %></p>
              </div>
              <div class="floatR marginLeft10">
                <%= link_to (image_tag current_user.profile_picture.url(:thumbnail)), profile_path if current_user.profile_picture.exists?(:thumbnail) %>
              </div>
            </div>
            <div class="clear"></div>
            <div class="profile-actions">
              <p><%= link_to "Profile", profile_path  %></p>
              <p><%= link_to "Sign Out", logout_path, :method => 'delete'  %></p>
            </div>
          </div>
        </div>
      <% end %>

      <% if current_user %>
        <% inbox_msgs = get_user_community_inbox_count(current_user) %>
        <%if inbox_msgs > 0 %>
          <span id="msgAlert"><%= link_to(inbox_msgs.to_i, :controller=>"messages", :action=>"index", :is_user_question_list=>true)%></span>
        <%end%>
      <%end%>
      <div id="nav" class="clear">
        <% if current_user %>
          <%= render :partial=> "layouts/nav_user_new"  %>
          <%= render :partial=>'shared/search_widget' if is_on_resources_page?(params) %>
        <%end%>
      </div>
      <%= render "layouts/alert_box" %>
      <%= yield %>
      <div id="socialChannels" class="clear">
        <%= link_to image_tag("powered-logo.png"), "http://www.wickedstart.com", :target => '_blank' %>   
      </div>
      <%=render :partial => 'layouts/footer_new'%>

      <%=render :partial => "shared/feedback_widget"%>

      <!--[if (gte IE 5.5)&(lte IE 8)]>
      <%= javascript_include_tag "html5", "ie-css3"%>
      <![endif]-->
      <script async defer type="text/javascript" src="https://use.typekit.com/jsk4mdo.js"></script>
      <script async defer type="text/javascript">try{Typekit.load();}catch(e){}</script>
      <%= include_tiny_mce_if_needed((YAML.load_file("#{Rails.root}/config/tiny_mce_user.yml")).stringify_keys) %>
      <%= render 'layouts/google_analytics' %>
      <%if(request.protocol == 'http://')%>
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <%=  javascript_include_tag "ws.share.widget" , :defer => 'defer', :cache => true %>
      <%end%>
      <div id="javascripts">
        <%= yield :javascripts %>
      </div>
    </body>
  </html>
<% else %>

  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

  <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>Workshop In Business Opportunities</title>
      <!--link href="stylesheets/style.css" rel="stylesheet" type="text/css" />
      <!--[if IE 6]>
        <link href="stylesheets/ie6.css" rel="stylesheet" type="text/css" />
      <![endif]-->

      <%= include_stylesheets :common,:old_design,:media => 'all' %>
  <%#= stylesheet_link_tag 'style' %>
  <%#= stylesheet_link_tag 'colorbox' %>      
      <%= include_javascripts :common %>
  <%#= javascript_include_tag "jquery-1.4.2.min" %>
  <%#= javascript_include_tag 'jquery.colorbox' %>
      <%= include_tiny_mce_if_needed((YAML.load_file("#{Rails.root}/config/tiny_mce.yml")).stringify_keys) %>
      <%= yield :js_includes %>
      <%= javascript_include_tag 'public' if current_user.blank? %>

      <%= include_javascripts :admin if current_user_is_admin? %>
  <%#= javascript_include_tag 'admin' if current_user_is_admin? %>

      <%= yield :head %>
      <%= yield :css_includes %>
      <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect}" if protect_against_forgery? %>

      <%= render 'layouts/google_analytics' %>
      <script>       
        /*$(document).ready(function(){
          var bg_color = '<%#= configurations.bg_color.to_s %>';
          var color = '<%#= configurations.color_scheme.to_s %>';
          var headline_font = '<%#= configurations.headline_font.to_s %>';
          var text_font = '<%#= configurations.text_font.to_s %>';
                  
          if(bg_color != "" || bg_color != null){
            $('html').css('background-color', bg_color);
          }
          if(color != "" || color != null){
            //$('p').css('color', color);
          }
          if(headline_font != "" || headline_font != null){
            $('h1').css('font-size', headline_font);
          }          
          if(text_font != "" || text_font != null){
            $('p').css('font-size', text_font);
            $('ul').css('font-size', text_font);
          }        
        });*/
      </script>
    </head>
    <body>
      <div id="javascripts">
        <%= yield :javascripts %>
  <%#= javascript_tag "$.fn.colorbox.settings.overlayClose = false" %>
      </div>
      <div id="cntainer">
        <%= render 'layouts/header' %>
  <%#= render 'layouts/navigation' %>
  <%# if current_user_is_admin? %>
        <%= render "layouts/nav_admin" %>
  <%# else %>
  <%#= render "layouts/nav_user_new" %>
  <%# else %>
  <%#= render "layouts/nav_public" %>
  <%# end %>
        <%= render "layouts/alert_box" %>

        <% if current_user_is_admin? %>
          <div class="main-Cntnt">
            <div class="admnCntnt">
              <%= yield %>
            </div>
          </div>
    <%# elsif current_user %>
        <%else%>
          <div class="main-Cntnt">
            <div class="lft-Cntnt">
              <%= yield %>
            </div>
    <%#= render 'layouts/ads' %>
            <div class="adDv">
              <%= yield :ads %>
            </div>
          </div>
    <%# else %>
    <%#= yield %>
        <% end %>

        <%= render 'layouts/footer' %>
      </div>
      <script type="text/javascript" charset="utf-8">
        var is_ssl = ("https:" == document.location.protocol);
        var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
        document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript" charset="utf-8">
        var feedback_widget_options = {};
        feedback_widget_options.display = "overlay";
        feedback_widget_options.company = "wicked_start";
        feedback_widget_options.placement = "left";
        feedback_widget_options.color = "#222";
        feedback_widget_options.style = "question";
        feedback_widget_options.limit = "5";
        var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
      </script>
    </body>
  </html>
<% end %>
